.turbokeys__hint {
  position: fixed;
  display: inline;
  padding: 1px;
  background-color: yellow;
  border: 1px solid orange;
  color: black;
  text-transform: uppercase;
}

.turbokeys-hidden .turbokeys__hint {
  display: none;
}
